{% extends 'admin_panel/layout.html' %}

{% block content %}
	{% load static %}
	
	<div class="container body-content">
		
		<table id="goods" class="table table-hover table-striped ">
                <thead>
                  <tr id="select-all-tr">
                    <th>#</th>
                    <th>Назва</th>
                    <th>Опис</th>
                    <th>Ціна</th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                {% for good in goods %}
                    <tr class="good-row" id="{{ good.id }}">
                        <td class="good_position">{{ forloop.counter }}</td>
                        <td>{{ good.name }}</td>
                        <td>{{ good.description|slice:":50" }}</td>
                        <td>{{ good.price }}</td>
                        <td style="display: inline-block;">
                            <form action="/admin/edit_good" method="GET"> 
                                <button class="btn btn-success edit_good" type="submit">Редагувати <span class="glyphicon glyphicon-edit"></span></button>
                                <input type="hidden" value="{{ good.id }}" name="good-id"/>
                            </form>
                        </td>
                        <td>
                            <button type="button" class="btn btn-info move_up"><span class="glyphicon glyphicon-arrow-up"></span></button>
                            <button type="button" class="btn btn-info move_down"><span class="glyphicon glyphicon-arrow-down"></span></button>
                            <button type="button" class="btn btn-danger remove_good"><span class="glyphicon glyphicon-trash"></span></button>
                        </td>
                    </tr>
                {% endfor %}
        
            </tbody>
        </table>
        <a class="btn btn-primary" href="/admin/add_good"><span class="glyphicon glyphicon-plus"></span> Додати новий</a>
	</div>

    <script type="text/javascript">
        
        $(document).ready(function(){

            $("#goods").on('click',".remove_good", function(e){
                var tr = $(this).closest("tr");
                $.ajax({
                    url : "/admin/ajax/remove_good/",
                    data : { 
                        id : tr.attr("id"),
                        csrfmiddlewaretoken : "{{ csrf_token }}",
                    },
                    type : "post",
                    success : function(data){
                        tr.remove();
                    }
                });
            });

            $("#goods").on('click', ".move_up", function(e){
                var tr = $(this).closest("tr");
                $.ajax({
                    url : "/admin/ajax/move_up/",
                    data : { 
                        id : tr.attr("id"),
                        csrfmiddlewaretoken : "{{ csrf_token }}",
                    },
                    type : "post",
                    success : function(data){
                        var tr1 = $("#"+data);
                        var html = tr1.html();
                        tr1.html( tr.html() );
                        tr.html( html );

                        var tr_position = tr.find(".good_position").text();
                        // alert(tr_position);
                        tr.find(".good_position").text(tr1.find(".good_position").text());
                        tr1.find(".good_position").text(tr_position);
                    }
                });
            });

            $("#goods").on('click',".move_down", function(e){
                var tr = $(this).closest("tr");
                $.ajax({
                    url : "/admin/ajax/move_down/",
                    data : { 
                        id : tr.attr("id"),
                        csrfmiddlewaretoken : "{{ csrf_token }}",
                    },
                    type : "post",
                    success : function(data){
                        var tr1 = $("#"+data);
                        var html = tr1.html();
                        tr1.html( tr.html() );
                        tr.html( html );

                        var tr_position = tr.find(".good_position").text();
                        tr.find(".good_position").text(tr1.find(".good_position").text());
                        tr1.find(".good_position").text(tr_position);
                    }
                });
            });        


        });

        
    </script>

   
	
{% endblock %}