<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin panel</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    {% load static %}

    <link rel="shortcut icon" type="image/png" href="{% static "admin_panel/favicon.ico" %}">
    <link href="{% static "admin_panel/css/admin.css" %}" rel="stylesheet">
    <style>
        body {
            background: #eee !important;  
        }

        .wrapper {  
            margin-top: 80px;
            margin-bottom: 80px;
        }
    </style>
  </head>

  <script src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


  <body>
    
    <nav class="navbar navbar-own">
      <div class="container-fluid" id="main-header-title">
        <ul class="nav nav-pills navbar-left">
            <li id="index">
                <a href="/admin/">
                    <span>Головна</span>
                </a>
            </li>
          </ul>
          <ul class="nav nav-pills navbar-right">
              <li><a href="/admin/logout" class="btn-exit">Вийти</a></li>
          </ul>
      </div>
    </nav>
  
    {% block content %}
    {% endblock %}

  </body>
</html>
