body {
	background: #f5e685 url(../img/bg.gif) repeat-x left top;
	background-color: #f5e685;
}

footer {
	padding-top: 25px;
	padding-bottom: 25px;
	text-align: left;
}

#header {
	margin-top: 25px;
	height: 255px;
}

#header img {
	margin: -2px;
    display: inline-block;
	max-height: 255px;

}

hr {
	border-color: gray;
}

.copyright{
	margin-bottom: 10px;
}
