{% extends 'main/layout.html' %}

{% block content %}

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static "main/css/index.css" %}">

<div class="goods">
	<div class="container">
		{% for good in goods %}
		
		<div class="item">
			
			<div class="col-sm-6">
				<div class="row">
					<img src="{{good.image}}" id="good-image" alt="Черепиця">
				</div>
				<div class="row">
					<span class="good-price">Ціна: {{ good.price }}</span>
				</div>

			</div>

			<div class="col-sm-6">
				<div class="row">
					<span class="good-name">{{ good.name }}</span>
				</div>
				<div class="row">
					<span class="good-description">{{ good.description }}</span>
				</div>
			</div>
		
		</div>

		{% endfor %}
	</div>
</div>

<!--<script type="text/javascript">
	$.ajaxSetup({
  		data: { csrfmiddlewaretoken: '{{ csrf_token }}' },
	});

	$.post("/get_goods/", function (data) {
		alert(data);
		var goods = JSON.parse(data);
		var html;
		goods.forEach(function(item, i, arr) {
			html += "<div class=\"item\">"
			
				+ "<div class=\"col-sm-6\">"
				+	"<div class=\"row\">"
				+		"<img src=\""+good.image+"\" id=\"good-image\" alt=\"Черепиця\">"
				+	"</div>"
				+	"<div class=\"row\">"
				+		"<span class=\"good-price\">Ціна: "+good.price+"</span>"
				+	"</div>"

				+ "</div>"

				+ "<div class=\"col-sm-6\">"
				+	"<div class=\"row\">"
				+		"<span class=\"good-name\">"+good.name+"</span>"
				+	"</div>"
				+	"<div class=\"row\">"
				+		"<span class=\"good-description\">"+good.description+"</span>"
				+	"</div>"
				+ "</div>"
		
			+"</div>"
		});
		$(".all-goods").innerHTML += html;
	});	

</script>-->


{% endblock content %}