{% extends 'main/layout.html' %}

{% block content %}

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static "main/css/index.css" %}">

<div class="filters">
	
	<div class="row" style="text-align: -webkit-center;">
	    <button id="button-price" class="btn" style="background-color: orange">Ціна <span id="price-icon" class="glyphicon glyphicon-arrow-down"></span></button>
	    <div style="width:40%; margin-top: 25px" class="input-group">
		  <input type="text" id="search-input" class="form-control" placeholder="Пошук за назвою..">
	      <span class="input-group-btn">
	        <button id="button-search" style="background-color: orange" class="btn btn-default" type="button">Пошук</button>
	      </span>
        </div>
	</div>

<!--	<div class="row">
		<h4 id="filter_name">Немає фільтру</h4>
	</div>
<div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Пошук</button>
      </span>
      <input type="text" class="form-control" placeholder="Пошук за назвою..">
    </div>-->   
</div>

<div class="goods">
	<div class="container all-goods">
		
	</div>
	<div id="myModal" class="modal fade" role="dialog">
	  <div class="modal-dialog">

	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h3 class="modal-title">Modal Header</h4>
	      </div>
	      <div class="modal-body">
	        <img id="modal-image" src="">
	        <h4>Опис товару:</h4>
	        <p id="modal-text">Some text in the modal.</p>
	      	<h4 id="modal-price">Ціна</h4>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
	      </div>
	    </div>

	  </div>
	</div>
	<input type="hidden" id="id_page" value="1">
	<input type="hidden" id="id_filter" value="default">
	<button class="btn btn-lg " id="load_goods">Завантажити ще <span class="glyphicon glyphicon-refresh"></span></button>
</div>

<script type="text/javascript">
	$.ajaxSetup({
  		data: { csrfmiddlewaretoken: '{{ csrf_token }}' },
	});
	
	var load_content = function(filter="default"){
		var page = $("#id_page").val();
		$.post("/ajax/get_goods/", { 'page' : page, 'filter' : filter } ,function (data) {
			// alert(data);
			if(data=="no"){
				$("#load_goods").hide();
			} else {
				var html = data;
				$(".all-goods").append(html);
				$("#id_page").val(parseInt(page)+1);

				$(".item").on('click', function(e){
					$('#myModal').find(".modal-title").text($(this).find(".good-name").text());
					$('#myModal').find("#modal-image").attr('src',$(this).find("img").attr("src"));
					$('#myModal').find("#modal-text").text($(this).find(".good-description").text());
					$('#myModal').find("#modal-price").text($(this).find(".good-price").text());
					$('#myModal').css("width : 1000px");
					$('#myModal').modal('show'); 
				});

			}
		});
	}

	load_content();

	$("#button-price").on('click', function(e){
		if($("#price-icon").hasClass("glyphicon-arrow-down")){ 
			$("#id_page").val(1);
			$(".all-goods").empty();
			load_content("price_asc");
			$("#price-icon").removeClass("glyphicon-arrow-down");
			$("#price-icon").addClass("glyphicon-arrow-up");
			$("#id_filter").val("price_asc");

			$("#filter_name").text("Ціни по зростанню");
			$("#load_goods").show();	
		} else {
			$("#id_page").val(1);
			$(".all-goods").empty();
			load_content("price_desc");
			$("#price-icon").removeClass("glyphicon-arrow-up");
			$("#price-icon").addClass("glyphicon-arrow-down");
			$("#id_filter").val("price_desc");
			
			$("#filter_name").text("Ціни по спаданню");
			$("#load_goods").show();
		}
	});

	$("#button-name").on('click', function(e){
		if($("#name-icon").hasClass("glyphicon-arrow-down")){ 
			$("#id_page").val(1);
			$(".all-goods").empty();
			load_content("name_asc");
			$("#name-icon").removeClass("glyphicon-arrow-down");
			$("#name-icon").addClass("glyphicon-arrow-up");
			$("#id_filter").val("name_asc");

			$("#load_goods").show();
		} else {
			$("#id_page").val(1);
			$(".all-goods").empty();
			load_content("name_desc");
			$("#name-icon").removeClass("glyphicon-arrow-up");
			$("#name-icon").addClass("glyphicon-arrow-down");
			$("#id_filter").val("name_desc");

			$("#load_goods").show();
		}
	});

	$("#button-search").on('click', function(e){
		$("#id_page").val(1);
		$(".all-goods").empty();
		$("#id_filter").val($("#search-input").val());
		load_content($("#search-input").val());
		$("#load_goods").show();
	});

	$("#load_goods").on('click', function(e){
		load_content($("#id_filter").val());
	});

	window.onunload = function(){ $("#id_page").val(1);}; 

</script>


{% endblock content %}