{% extends 'main/layout.html' %}

{% block content %}

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static "main/css/index.css" %}">

<div class="goods">
	<div class="container all-goods">
		
	</div>
	<input type="hidden" id="id_page" value="1">
	<button class="btn btn-lg " id="load_goods">Load more <span class="glyphicon glyphicon-refresh"></span></button>
</div>

<script type="text/javascript">
	$.ajaxSetup({
  		data: { csrfmiddlewaretoken: '{{ csrf_token }}' },
	});
	
	var load_content = function(){
		var page = $("#id_page").val();
		$.post("/ajax/get_goods/", { 'page' : page } ,function (data) {
			// alert(data);
			if(data=="no"){
				$("#load_goods").hide();
			} else {
				var html = data;
				$(".all-goods").append(html);
				$("#id_page").val(parseInt(page)+1);
			}
		});
	}

	load_content();

	$("#load_goods").on('click', function(e){
		load_content();
	});

	window.onunload = function(){ $("#id_page").val(1);}; 

</script>


{% endblock content %}