<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Урсус</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static "main/css/layout.css" %}">

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-92546071-1', 'auto');
      ga('send', 'pageview');

    </script>
    
  </head>

  <body>
    
    <div id="header" style="  text-align:center;">
      <a href="/" title="Урсус - Головна сторінка">
        <img id="logo" src="{% static "main/img/ursus.gif" %}" alt="Урсус">
      </a>
      <img id="roof" src="{% static "main/img/house_roof.jpg" %}" alt="roof">
    </div>
  
    {% block content %}
    {% endblock %}
    <footer id="footer">
      <div class="container">
      <hr>
        
        <div class="row">
          <div class="col-md-6">
            Для отримання знижки звертайтесь до працівників нашої компанії, які завжди нададуть Вам професійні поради щодо покрівлі, розрахують комплектацію даху і з розумінням підуть назустріч клієнту. Будемо раді співпраці з Вами!
            <br>Ми працюємо з такими брендами - черепиця CREATON, EURONIT, EASYTON, BRAAS, NELSKAMP,  KORAMIC, RATHSCHECK, ДАХОВІ АКСЕСУАРИ, Мансардні вікна VELUX, FAKRO, водостічні системи GALECO.
          </div>

          <div class="col-md-6">
            © 2008 ТзОВ "УРСУС Закарпаття" 
            <br>Закарпатська обл. 
            <br>Мукачівський р-н. 
            <br>с. Зняцьово вул. Леніна 68 в 
            <br>тел. (031) 31 74 105; (067) 67 372 53; (050) 438 48 01 
            <br>e-mail: office.roofcenter@gmail.com
            <br><a style="color: black;" href="http://ursus.com.ua">http://ursus.com.ua</a>
          </div>

          
        </div>

      <hr>
      </div>
    </footer>
    <div class="copyright">
      Developed by
      <a href="http://www.aits.ua/" target="_blank"><span class="reserved"> AITS </span></a>
      <a target="_blank" href="/admin/"><img width="20" src="{% static "main/img/enter-icon.png" %}" alt=""></a>  
    </div>
    
  </body>

</html>
